body {
    text-align: center;
    font-family: 'Times New Roman';
    background: lightskyblue;
    color: darkblue;
    margin-left: 250px;
    margin-right: 250px;
}
img {
    height: 500px;
}

h1 {
    line-height: 1.2;
}

h2, h3, h5, h6 {
    line-height: 1.5;
  }

h4, p {
    line-height: 2;
}