body {
    text-align: center;
    font-family: 'Bradley Hand';
    background: lightskyblue;
    color: darkblue;
    margin-left: 50px;
    margin-right: 50px;
}
img {
    height: 500px;
}

h1 {
    font-size: 50px;
}

h2{
    font-size: 30px;
  }

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }